@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2B2922;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

/* Nav bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

nav .links {
  display: flex;
  gap: 4em;
  align-items: center;
}

nav .nav-links {
  list-style-type: none;
  display: flex;
  gap: 4em;
  font-weight: 200;
}

nav .nav-links .nav-link {
  color: #a1acad;
  cursor: pointer;
}

nav .nav-links .nav-link:hover {
  color: #fff;
}

nav .nav-links .nav-link:first-child {
  color: #fff;
}

nav .brand-logo img.logo {
  width: 70%;
}

button.get-started {
  padding: 8px 15px;
  border-radius: 8px;
  border: 1px solid #c09e27;
  background: transparent;
  color: #c09e27;
  cursor: pointer;
}

button.get-started:hover {
  /* border: 1px solid #c09e27; */
  background: #c09e27;
  color: #fff;
}


.home-image-section {
  height: 52vh;
}

.home-image-section .main-image {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer {
  /* min-height: 5vh; */
  /* background-color: #2B2922; */
}

.footer i {
  font-size: 2rem;
}