@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2B2922;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

/* Nav bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
}

nav .links {
  display: flex;
  gap: 4em;
  align-items: center;
}

nav .nav-links {
  list-style-type: none;
  display: flex;
  gap: 4em;
  font-weight: 200;
}

nav .nav-links .nav-link {
  color: #a1acad;
  cursor: pointer;
}

nav .nav-links .nav-link:hover {
  color: #fff;
}

nav .nav-links .nav-link:first-child {
  color: #fff;
}

nav .brand-logo img.logo {
  width: 70%;
}

button.get-started {
  padding: 8px 15px;
  border-radius: 8px;
  border: 1px solid #c09e27;
  background: transparent;
  color: #c09e27;
  cursor: pointer;
}

button.get-started:hover {
  /* border: 1px solid #c09e27; */
  background: #c09e27;
  color: #fff;
}

/* Hero Section */
.home-content {
  display: flex;
  padding: 10px 100px 20px 60px;
  align-items: center;
  gap: 4em;
}

.home-content h1.left {
  font-size: 4.5rem;
}

.home-content p.right-content {
  font-size: 1.1rem;
  font-weight: 200;
}

/* Image section */
.home-image-section {
  height: 52vh;
}

.home-image-section .main-image {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}



/* Footer */
.footer {
  display: flex;
  /* position: absolute; */
  float: right;
  bottom: 0;
  right: 0;
}

.box {
  padding: 19px 25px;
  background-color: #403d32;
  color: #c09e27;
  cursor: pointer;
}

.box:hover {
  background-color: #c09e27;
  color: #fff;
}

.box::before {
  padding: 19px 25px;
  background-color: #403d32;
  color: #c09e27;
  cursor: pointer;
}

.footer div:last-child {
  background-color: #c09e27;
  color: #fff;
}

.footer i {
  font-size: 2rem;
}

@media screen and (max-width: 500px) {

  nav {
    padding: 20px 20px;
  }

  nav .brand-logo img.logo {
    width: 80px;
  }

  nav .nav-links {
    display: none;
  }

  button.get-started {
    padding: 6px 8px;
    font-size: .8rem;
    /* margin-right: 10px; */
  }

  .home-content {
    display: block;
    padding: 10px 20px 60px 20px;
  }

  .home-content h1.left {
    margin-top: 30px;
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .home-content p.right-content {
    font-size: 0.8rem;
  }

  .home-image-section {
    max-height: 30vh;
  }
}